@media (min-width: 601px) {

  .tela3 {
    position: relative;
    padding: 2em; /* Espaçamento interno */
    margin: 0 0;
    justify-content: center;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 15%;
  }

  /*imagem*/
    .washington {
      display: relative;
      position: relative;
      width: 23.958vw;
      height: 25.938vw;
    }

/*Informações na direita para versão web*/
  .direita-web{
    display: flex;
    flex-direction: column;
  }

  /*icone roxo*/
    .about-block {
        display: flex;
      	border-radius: 16px;
      	background-color: #7B4AE21A;
      	width: 8.333vw;
      	height: 2.344vw;
        align-items: center;
        justify-content: center;
    }

    .sobre-mim {
        font-size: 1.042vw;
        color: #7B4AE2;
        text-align: center;
    }

  /*Textos para versão web*/
    .washington-web {
      position: relative;
      color: #ffff;
      text-align: left;
      font-size: 2.500vw;
      display: inline;
      white-space: nowrap;
      margin-left: 0;
    }

    .texto-sobre-web{
      font-size: 0.938vw;
      color: #FFFFFF80;
      white-space: nowrap;
      margin-left: 0;
    }

  /*Conteúdo omitido*/
    .nome-washington {
      display: none;
    }

    .texto-sobre {
      display: none;
    }

}
