/*tela*/
.experiencesection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Raleway;
  margin: 0 auto;
  max-width: 1200px;
}


/*Experiencias*/
.fundo-experiencia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    background-color: #7B4AE21A;
    width: 100%; /* Usando largura de 100% para que o elemento se ajuste ao contêiner */
    max-width: 1080px;
    height: 6.8em;
    margin: 0 auto; /* Centralizar horizontalmente */
}


/*devfront*/
.desenvolvedor {
  	position: relative;
  	display: flex;
    left: 1.2em;
}

.front-end {
    margin: 0;
  	position: relative;
  	font-size: 32px;
  	font-family: inherit;
  	display: flex;
}

.dev-front {
  	position: relative;
    color: #7B4AE2;
}


/*projetos e experiencia*/
.dezenas-de-projetos {
  	position: relative;
  	display: flex;
    left: 1em;
}

.experiencias {
    margin: 0;
  	position: relative;
  	font-size: 32px;
  	display: flex;
}

.dezenas-de-projetos-e-xp {
  	position: relative;
    color: #7B4AE2;
}


/*designer freelancer*/
.designer-freelancer {
  	position: relative;
    color: #7B4AE2;
}

.freelancer{
  position:relative;
  display:flex;
}

.ui{
  margin: 0;
  position: relative;
  font-size: 32px;
  display: flex;
}

/*cards*/


/*card dev*/
.devcar-child {
  	position: relative;
  	border-radius: 16px;
  	border: 1px solid rgba(123, 74, 226, 0.5);
  	box-sizing: border-box;
  	width: 246px;
  	height: 200px;
}

.devcar {
  	position: relative;
  	width: 246px;
  	height: 200px;
}


.codeicon {
  position: relative;
  height: 32%;
  width: auto;
  top: 2em;
  left: -9.8em;
  max-width: 100%;
  max-height: 100%;
}

.devcard {
  	position: relative;
  	width: 246px;
  	height: 200px;
    display: flex;
}

.programador{
  position: relative;
  align-items: center;
  justify-content: center;
  top: -3.5em;
  font-size: 2em;
}


/*card meio*/
.card-meio {
  	position: relative;
  	border-radius: 16px;
  	background-color: rgba(123, 74, 226, 0.1);
  	width: 246px;
  	height: 200px;
}
.projectsicon {
    position: relative;
    height: 32%;
    width: auto;
    top: -17em;
    max-width: 100%;
    max-height: 100%;
}
.projectscard {
  	position: relative;

  	width: 246px;
  	height: 200px;
    display: flex;
}

.trabalhos{
  position: relative;
  align-items: center;
  justify-content: center;
  top: -3.5em;
  font-size: 2em;
}


/*card designer*/
.designicon {
  	position: relative;
  	height: 32%;
  	width: auto;
    top: -10em;
  	max-width: 100%;
  	max-height: 100%;
}

.designcard {
  	position: relative;
  	width: 246px;
  	height: 200px;
}

.des-car {
  	position: relative;
  	width: 246px;
  	height: 200px;
}

.designcard-child {
  	position: relative;
  	border-radius: 16px;
  	border: 1px solid rgba(123, 74, 226, 0.5);
  	box-sizing: border-box;
  	width: 246px;
  	height: 200px;
}

.anos-como {
  	position: relative;
  	align-items: center;
  	justify-content: center;
    top: -5em;
}

.designer {
  position: relative;
  align-items: center;
  justify-content: center;
  top: -3.5em;
  font-size: 2em;
}
