body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #090e16;
  overflow: hidden;
  text-align: left;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway;
}
