@media (max-width: 600px) {
  
  /* Estilos para .topsection */
  .topsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 2em; /* Espaçamento externo */
    overflow-x: hidden;
  }


/*icones redes sociais*/
  .socialmedias-icon {
    order: 1;
    width: 34.667vw;
    height: auto;
  }
    .socialmedias-web{
      display: none;
    }


  /* Estilos para avatar */
  .avatarandicons {
    width: 76.152vw;
    height: auto;
    order: 2;
    margin-left: 3vw;
  }


  /*Informações e textos*/
  .tophometexts {
    order: 3;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1em; /* Espaçamento entre os itens */
    margin: 2em auto;
  }

    .group-child {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: rgba(123, 74, 226, 0.1);
        width: 32.533vw;
        height: 8.533vw;
    }

      .saudacoes {
      font-size: 3.733vw;
      color: #7B4AE2;
    }

    .henrique-sousa {
      margin-top: -60px;
      font-weight: 800;
      color: #ffff;
      font-size:12.800vw;
      text-align: left;
      white-space: pre-line
    }

    .front-end-developer {
      position: relative;
      font-size: 4.800vw;
      color: #FFFFFF80;
      white-space: nowrap;
    }


  /*Botão whatsapp e cv*/
  .group-parent {
    order: 4;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }

    .group-item {
      	position: relative;
      	border-radius: 8px;
      	border: 1px solid rgba(123, 74, 226, 0.5);
      	box-sizing: border-box;
      	width: 47.467vw;
      	height: 11.733vw;
        max-width: 280 px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-left: 3vw;
    }

      .vamos-conversar {
        	position: relative;
        	font-weight: 600;
        	display: flex;
        	align-items: center;
        	font-size: min(4.267vw, 25px);
          color: #7B4AE280;
      }

      .whatsapplogo-icon {
        width: 5.333vw;
        height: 5.333vw;
      }

    .baixar-cv {
      	position: relative;
      	font-weight: 600;
        font-size: 4.267vw;
      	align-items: center;
        display: flex;
        color: #7B4AE280;
        white-space: nowrap;
    }

      .arrowlinedown-icon {
      	position: relative;
        height: 4.800vw;
        width: auto;
    }

  
  /*Tela 2*/
  .experiencesection {
    position: relative;
    display: flex;
    flex-direction: column; /* Apresentar os cards em coluna */
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-family: Raleway;
    margin: 0 auto;
    top: 8rem;
    max-width: 600px;
  }


  .devcard,
  .projectscard,
  .designcard {
    margin: 2em 0 ; /* Espaçamento entre os cards */
  }

  .experiencedescription{
    display:none;
  }

  .tela3 {
    position: relative;
    padding: 2em; /* Espaçamento interno */
    top: 10rem;
    margin: 0 auto;
    justify-content: center;
    max-width: 600px;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    place-content: center; /* Centraliza vertical e horizontalmente */
    text-align: center;
    margin: 0 auto; /* Centraliza na horizontal */
  }

  .washington {
    display: relative;
    width: 15.5em;
    height: auto;
    margin: 0 auto;
  }

  .about-block {
    	position: relative;
    	border-radius: 8px;
    	background-color: rgba(123, 74, 226, 0.1);
    	width: 7em;
    	height: 2em;
      align-items: center;
  }

  .sobre-mim {
    	position: relative;
      font-size: 0.875em;
    	display: inline;
    	align-items: center;
    	justify-content: center;
      width: auto;
    	height: auto;
      left: -7.5em;
  }

  .square {
      display: flex;
    	position: relative;
      justify-content: center;
      align-items: center;
    	width: 100%;
    	height: auto;
    	color: #7b4ae2;
    	font-family: Raleway;
      top: 3em;
      left: -11vw;
  }


  .nome-washington {
    position: relative;
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
    display: block;
    left: -13vw;

  }

  .nome-henrique{
    position: relative;
    left: -0.7em;
  }

  .texto-sobre {
    position: relative;
    font-size: 1em;
    color: #FFFFFF80;
    text-align: justify;
    width: auto;
    height: auto;
    max-width: 64%;
    top: -3rem;
    margin: 0 auto;
  }

  .washington-web{
    display: none
  }

  /*Estilo footer*/
  .footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding-bottom: 0;
    background-color: #7B4AE21A;
    width: 100%;
    height: 88px;
    gap: 0.785625em;
    overflow-x: hidden;
  }

  .icons-footer{
    position: center;
    width: 7.5em;
    height: auto;
  }

  .copyright {
    color: #FFFFFF80;
    font-size: 0.7500em;
    height: auto;
  }
}
