@media (max-width: 600px) {
  .navbar {
    display: none;
  }


  /* Estilos para .topsection */
  .topsection {
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .henrique-sousa {
    position: relative;
    top: 450px;
    width: 100%;
    text-align: left;
    font-weight: 800;
    font-size: 48px;
    height: auto;
    color: #fff;
    left:24px;
  }

  .rectangle-parent{
    top: 450px;
    left: 24px
  }

  .front-end-developer {
    position: relative;
    top: 620px;
    font-size: 18px;
    color: #FFFFFF80;
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: left;
    left: -134px;
  }

  .socialmedias-icon {
    position: absolute;
    top: -80%;
    width: 200px;
    max-width: 100%;
    height: auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%)
  }


  /* Estilos para avatar */
  .avatarandicons {
    position: relative;
    top: -290px;
    left: 53%;
    width: 90%;
    max-width: 100%;
    height: auto;
  }


  /* Estilos para group-parent */
  .group-parent {
    position: relative;
    left: 24px;
    height:100%;
    width: auto;
    max-width: 100%;
    text-align: center;
  }

  .cvdownload{
    position: relative;
    top: 50px;
    left: 2px;
  }

  .rectangle-group{
    position: relative;
    top: 80px;
    left: 120px;
  }


  .experiencesection{
    display: none;
  }
}
